* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

/* Header */

.header {
  position: relative;
  /* Определяем модель flex-box для блока .header */
  display: flex;
  flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось - Y */
  justify-content: center; /* Выравнивание по основной оси */
  align-items: center; /* Выравнивание по поперечной оси */

  width: 100%;
  height: 100vh;

  background-color: #556983;
  background-image: url("./../img/header/header-bg.jpeg");
  background-size: cover;
  background-position: center;
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: floralwhite;
}
.header-info {
  max-width: 600px;

  font-size: 20px;
  color: floralwhite;
}
.header-info li {
  font-size: xx-large;
  padding: 16px;
  list-style-type: none;
}
.header-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-arrow {
  width: 48px;
  height: 48px;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.main img {
  max-width: 600px;
}

.main-info {
  max-width: 500px;
}
.main-info li {
  max-width: 500px;
  font-size: 22px;
  padding: 16px;
  list-style-type: none;
}

.main-info p {
  font-size: 20px;
  color: #404a8f;
}
.main-info ul {
  padding-left: 17px;
}
.main-info a {
  font-size: 20px;
  color: #006dd4;
}

.services {
  display: flex;
  box-sizing: border-box;
  height: 190px;
}
.services2 {
  display: flex;
  box-sizing: border-box;
  height: 190px;
  margin-bottom: 20px;
}
.service-info {
  box-sizing: border-box;
  width: 30%;
  margin-left: 15px;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.service-info p {
  margin-left: 10px;
}
.feedback {
  padding-top: 45px;
  padding-bottom: 130px;
  background: #1e4776;
  color: white;
}
.feedback h2 {
  font-size: 22px;
  display: flex;
  justify-content: center;
}
.reviews img {
  margin-left: 18px;
  margin-bottom: 16px;
  width: 450px;
  height: 450px;
}
.reviews h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 130px;
  background: #1e4776;
  color: white;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  max-width: 350px;
  flex-grow: 1;
}

.footer-copyright {
  color: #7e9ec9;
  line-height: 1.3;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-row {
  display: flex;
  align-items: center;
}

.footer-icons-row > * + * {
  margin-left: 16px;
}

.form h2 {
  text-align: center;
}
.form-row {
  margin-bottom: 10px;
  display: flex;
}
.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}
.form-row .form-group:last-child {
  margin-right: 0;
}
.feedback button {
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
}

/*.skils {
  box-shadow: 0 0 10px 5px rgb(30, 8, 171);
  border-radius: 25px;
  padding: 20px;
  padding-bottom: 10px;
}
.list__img {
  width: 100px;
  height: 100px;
  padding-bottom: 10px;
}*/

@media (max-width: 750px) {
  .form-row {
    display: block;
  }
  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.form-group label {
  display: block;
  font-size: 14px;
  color: #7e9ec9;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgb(30, 8, 171);

  color: rgb(215, 23, 23);
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
